@charset "UTF-8";
/* -------- box-sizing -------- */
* {
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: border-box;
}

/* -------- grid -------- */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row > div {
  float: left;
  padding: 0 15px;
  box-sizing: border-box;
}
.row:after, .row:before {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.11%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* -------- inline-grid -------- */
.row--inline {
  font-size: 0;
}
.row--inline > div {
  float: none;
  display: inline-block;
  vertical-align: top;
}
.row--inline:after, .row--inline:before {
  display: none;
}

/* -------- Модификатор для блока promo -------- */
.row--padding-5 {
  margin-left: -5px;
  margin-right: -5px;
}
.row--padding-5 > div {
  padding: 0 5px;
}

/* -------- body -------- */
.body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #434343;
}

/* -------- container -------- */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* -------- link -------- */
.link {
  text-decoration: none;
  color: #434343;
}
.link--underline:hover {
  text-decoration: underline;
}

/* -------- header-page -------- */
.header-page {
  padding: 20px 0;
}
.header-page:before, .header-page:after {
  content: '';
  display: table;
}
.header-page:after {
  clear: both;
}

/* -------- logo -------- */
.logo {
  float: left;
}

/* -------- user-panel -------- */
.user-panel {
  float: right;
  margin-bottom: 15px;
}
.user-panel__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-panel__item {
  display: inline-block;
  vertical-align: middle;
}
.user-panel__link {
  display: inline-block;
  width: 120px;
  height: 108px;
  padding: 33px 0;
  text-align: center;
  color: #fff;
  background-color: #f0626e;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.user-panel__link:hover {
  background-color: #cc535e;
}
.user-panel .icon-user,
.user-panel .icon-ok,
.user-panel .icon-gift,
.user-panel .icon-cart {
  margin-left: 5px;
  font-size: 25px;
}

/* -------- nav-main -------- */
.nav-main {
  clear: both;
  background-color: #05aecc;
}
.nav-main__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.nav-main__item {
  display: inline-block;
  position: relative;
}
.nav-main__link {
  display: inline-block;
  padding: 30px 20px;
  color: #fff;
}
.nav-main__link:hover {
  background-color: #fff;
  color: #f0626e;
}
.nav-main__sub-list {
  display: none;
  position: absolute;
  width: 280px;
  margin: 0;
  padding: 0 20px;
  list-style: none;
  text-align: left;
  background-color: #fff;
  z-index: 2;
  box-shadow: 0 -1px 5px #434343;
}
.nav-main__sub-item {
  padding: 17px 0;
  border-bottom: 1px solid #434343;
}
.nav-main__sub-item:last-child {
  border-bottom: none;
}
.nav-main__sub-img {
  float: left;
  margin-right: 10px;
}
.nav-main__sub-title {
  color: #f0626e;
}
.nav-main__sub-text {
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
}
.nav-main__sub-link {
  display: inline-block;
  padding: 7px 25px;
  font-size: 12px;
  background-color: #05aecc;
  color: #fff;
}
.nav-main__sub-link:hover {
  background-color: #f0626e;
}

.nav-main__item:hover .nav-main__sub-list {
  display: block;
}

/* -------- promo -------- */
.promo {
  margin-bottom: 60px;
}
.promo__item {
  position: relative;
  margin-bottom: 10px;
}
.promo__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.promo__info {
  position: absolute;
  bottom: 20px;
  max-width: 350px;
  padding: 15px;
  background-color: rgba(32, 46, 59, 0.7);
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.promo__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  color: #f0626e;
}
.promo__text {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.promo__search {
  padding: 45px;
  padding-left: 50px;
  padding-right: 25px;
  font-size: 16px;
  background-color: #f0626e;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.promo__search:hover {
  background-color: #cc535e;
}
.promo__search-input {
  width: 70%;
  margin-right: 20px;
  padding: 20px 15px;
  border: none;
  outline: 0;
}
.promo__search-btn {
  width: 60px;
  height: 60px;
  border: none;
  vertical-align: middle;
  background: url("../img/ic-search.png") no-repeat;
  background-size: 90%;
  outline: 0;
}

.promo__item:hover .promo__info {
  background-color: #202e3b;
}

/* -------- purchase -------- */
.purchase {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 0;
  color: #fff;
}
.purchase__title {
  display: inline-block;
  padding: 15px 10px;
  font-size: 16px;
  background-color: #05aecc;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.purchase__title:hover {
  background-color: #0494ad;
}
.purchase__give {
  display: inline-block;
  padding: 9.5px;
  font-size: 25px;
  background-color: #f0626e;
  vertical-align: middle;
  color: #fff;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.purchase__give:hover {
  background-color: #cc535e;
}
.purchase__cart {
  display: inline-block;
  padding: 9.5px;
  font-size: 25px;
  background-color: #05aecc;
  vertical-align: middle;
  color: #fff;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.purchase__cart:hover {
  background-color: #0494ad;
}
.purchase__price {
  display: inline-block;
  padding: 15px 10px;
  font-size: 16px;
  background-color: #434343;
  color: #fff;
  vertical-align: middle;
}

/* -------- title-section -------- */
.title-section {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  color: #05aecc;
  border-bottom: 1px solid #434343;
  text-align: left;
}

/* -------- new-products -------- */
/* -------- featured -------- */
.featured {
  margin-bottom: 60px;
}

/* -------- card-product -------- */
.card-product {
  display: inline-block;
  position: relative;
  border: 1px solid #b4b4b4;
}
.card-product__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card-product__title {
  margin: 15px;
  margin-bottom: 5px;
  font-size: 18px;
}
.card-product__text {
  margin: 15px;
  margin-top: 5px;
  font-size: 14px;
  color: #f0626e;
}
.card-product__info {
  background-color: #05aecc;
}
.card-product__link {
  display: inline-block;
  padding: 10px;
  border-top: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;
  font-size: 22px;
  background-color: #fff;
  color: #b4b4b4;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.card-product__link:hover {
  background-color: #f0626e;
  color: #fff;
}
.card-product__price {
  display: inline-block;
  padding: 10px;
  padding-right: 0;
  border-top: 1px solid #b4b4b4;
  font-size: 22px;
  color: #fff;
}
.card-product__label {
  position: absolute;
  top: 10px;
  left: -1px;
  padding: 10px 15px;
  font-size: 14px;
  background-color: #f0626e;
  color: #fff;
  text-transform: uppercase;
}

/* -------- about -------- */
.about {
  text-align: center;
  margin-bottom: 60px;
}

/* -------- text-section -------- */
.text-section {
  padding: 0 20px;
  margin: 0;
  margin-bottom: 50px;
  line-height: 26px;
  text-align: left;
}

/* -------- register-btn -------- */
.register-btn {
  display: inline-block;
  padding: 15px 200px;
  font-size: 25px;
  background-color: #05aecc;
  color: #fff;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.register-btn:hover {
  background-color: #0494ad;
}

/* -------- footer-page -------- */
.footer-page {
  padding: 50px 20px;
  border-top: 1px solid #434343;
}
.footer-page__title {
  margin-bottom: 15px;
  font-size: 25px;
  text-transform: uppercase;
}
.footer-page__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-page__item {
  padding: 5px 0;
}
.footer-page__link {
  color: #727272;
}
.footer-page__link:hover {
  text-decoration: underline;
}

/* -------- user-email -------- */
.user-email__input {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #b4b4b4;
  text-align: center;
  outline: 0;
}
.user-email__btn {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  border: 0;
  text-transform: uppercase;
  background-color: #05aecc;
  color: #fff;
  outline: 0;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}
.user-email__btn:hover {
  background-color: #0494ad;
}

/* -------- social-btn -------- */
.social-btn {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: #fff;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
.social-btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.social-btn:last-child {
  margin-right: 0;
}
.social-btn--fbk {
  background-color: #3A5795;
}
.social-btn--twr {
  background-color: #55ACEE;
}
.social-btn--ins {
  background-color: #00385F;
}
.social-btn--gpl {
  background-color: #DD4B39;
}

/*# sourceMappingURL=style.css.map */