/* -------- card-product -------- */

.card-product {
  display: inline-block;
  position: relative;
  border: 1px solid $color-gray-lighter;
  
  &__img {
    @include img-responsive;
  }

  &__title {
    margin: 15px;
    margin-bottom: 5px;
    font-size: ($font-size-base + 2);
  }

  &__text {
    margin: 15px;
    margin-top: 5px;
    font-size: $font-size-secondary;
    color: $color-brand-red;
  }

  &__info {
    background-color: $color-brand-blue;
  }

  &__link {
    display: inline-block;
    padding: 10px;
    border-top: 1px solid $color-gray-lighter;
    border-right: 1px solid $color-gray-lighter;
    font-size: ($font-size-base + 6);
    background-color: #fff;
    color: $color-gray-lighter;
    transition: all 0.2s;

    &:hover {
      background-color: $color-brand-red;
      color: #fff;
    }
  }

  &__price {
    display: inline-block;
    padding: 10px;
    padding-right: 0;
    border-top: 1px solid $color-gray-lighter;
    font-size: ($font-size-base + 6);
    color: #fff;
  }

  &__label {
    position: absolute;
    top: 10px;
    left: -1px;
    padding: 10px 15px;
    font-size: $font-size-secondary;
    background-color: $color-brand-red;
    color: #fff;
    text-transform: uppercase;
  }
}