/* -------- nav-main -------- */

.nav-main {
  clear: both;
  background-color: $color-brand-blue;

  &__list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
  }

  &__item {
    display: inline-block;
    position: relative;
  }

  &__link {
    display: inline-block;
    padding: 30px 20px;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $color-brand-red;
    }
  }

  
  // Подменю

  &__sub-list {
    display: none;
    position: absolute;
    width: 280px;
    margin: 0;
    padding: 0 20px;
    list-style: none;
    text-align: left;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 -1px 5px $color-gray;
  }

  &__sub-item {
    padding: 17px 0;
    border-bottom: 1px solid $color-gray;

    &:last-child { border-bottom: none; }
  }

  &__sub-img {
    float: left;
    margin-right: 10px;
  }

  &__sub-title { 
    color: $color-brand-red;
  }

  &__sub-text {
    margin: 0;
    padding: 5px 0;
    font-size: $font-size-secondary;
  }
  
  &__sub-link {
    display: inline-block;
    padding: 7px 25px;
    font-size: $font-size-small;
    background-color: $color-brand-blue;
    color: #fff;

    &:hover { background-color: $color-brand-red; }
  }
}


// Показать подменю

.nav-main__item:hover .nav-main__sub-list {
  display: block;
}