/* -------- title-section -------- */

.title-section {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: $font-size-large;
  color: $color-brand-blue;
  border-bottom: 1px solid $color-gray;
  text-align: left;
}