/* -------- user-panel -------- */

.user-panel {
  float: right;
  margin-bottom: 15px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item { 
    display: inline-block; 
    vertical-align: middle;
  }

  &__link {
    display: inline-block;
    width: 120px;
    height: 108px;
    padding: 33px 0;
    text-align: center;
    color: #fff;
    background-color: $color-brand-red;
    transition: background-color 0.2s;

    &:hover { background-color: $color-brand-red-darker; }
  }


  //fontello-icon

  .icon-user,
  .icon-ok,
  .icon-gift,
  .icon-cart {
    margin-left: 5px; 
    font-size: $font-size-icon-base; 
  }
}